@charset "utf-8";
/* CSS Document */
*{
  margin: 0;
  padding: 0;
  font-family:radley;
}
.logo img
{
	width: 250px;
	float: left;
	margin-left: 40%;
}
.logo
{
	background-color: #3f262b;
	height: 130px;
	width: 100%;
}
h2{
	text-align: center;
	color: #620151;
	font-size: 22px;
	font-weight: bolder;
}
.tab 
{
	padding: 20px;
}
.tab table
{
	margin-top: 20px;
}
.tab input
{
	margin: 5px 10px 5px 0px;
}
  
    select {
      width: 100%;
      min-height: 10px;
      
    }
  
    label {
      display: inline;
      position: relative;
      cursor: pointer;
      font-size: 18px;
      padding-left: 30px;
      margin-bottom: 20px;
		margin-left: 50px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
		font-size: 18px;
    }
    .select {
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      position: absolute;
      border-radius: 30%;
      
		border: solid #A3008E;
    }
    label:hover input~.select {
      background-color: #7D007A;
    }
    label input:checked~.select {
      background-color: #A6008D;
    }
    .select:after {
      content: "";
      position: absolute;
      display: none;
    }
    label input:checked~.select:after {
      display: block;
    }
    label .select:after {
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 30%;
      background: white;
    }
button
{
	background-color: #620151;
	color: #FEFEFE;
	height: 70px;
}
button:hover
{
	color: #E7E7E7;
}
span
{
	height: 100px;
}
h5
{
	float: left;
	margin-left: 67px;
	font-weight: bold;
	font-size: 20px;color: #FFFFFF;
}
h3
{
	font-size: 20px;
	font-weight: bold;

}
h3:hover
{
	color: #EDEDED;
}