@charset "utf-8";
/* CSS Document */
time
{
	float: right;
}
h2,h3,h4
{
	color: #004db3;
	text-align: justify;
	font-weight: bold;
}
h2:hover, h3:hover, h4:hover, h5:hover
{
	color: #cc0000;
	cursor: pointer;
}
p
{
	text-align: justify;
}
p.subhead
{
 font-size: 13px;
 text-align: left;
}
.subhead span
{
	margin-top: 10px;
	font-weight: bold;
	color:#004db3;
}
.subhead span:hover
{
	color: #9B0065;
	cursor: pointer;
}
h3.hlong
{
	line-height: 36px;
	text-align: left;
	font-size: 26px;
}
.row
{
	margin-bottom: 10px;
}


